google-auth
# Extensions for jupyter notebook
widgetsnbextension
#ipywidgets

# tensorflow related packages
tensor2tensor

# Common data science packages
#h5py
sklearn
#pandas
#keras
matplotlib

# Google Cloud related packages
google-cloud
boto>=2.49.0
Flask>=1.1.2
future>=0.18.2
google-api-core>=1.17.0
google-api-python-client>=1.9.1
google-apitools>=0.5.28
google-auth-httplib2>=0.0.3
google-auth-oauthlib>=0.4.1
google-cloud-bigquery>=1.24.0
google-cloud-bigtable>=1.2.1
google-cloud-core>=1.3.0
google-cloud-dataproc>=0.8.0
google-cloud-datastore>=1.12.0
google-cloud-firestore>=1.7.0
google-cloud-kms>=1.4.0
google-cloud-language>=1.3.0
google-cloud-logging>=1.15.0
google-cloud-pubsub>=1.5.0
google-cloud-scheduler>=1.3.0
google-cloud-spanner>=1.17.0
google-cloud-speech>=1.3.2
google-cloud-storage>=1.28.1
google-cloud-tasks>=1.5.0
google-cloud-translate>=2.0.1
google-cloud-videointelligence>=1.14.0
google-cloud-vision>=1.0.0
google-pasta>=0.2.0
google-resumable-media>=0.5.0
googleapis-common-protos>=1.51.0
greenlet>=0.4.15
grpc-google-iam-v1>=0.12.3
h5py>=2.10.0
hdfs>=2.5.8
ipykernel>=5.3.0
ipython>=7.15.0
ipython-sql>=0.3.9
ipython-genutils>=0.2.0
ipywidgets>=7.5.1
isort>=4.3.21
Jinja2>=2.11.2
Keras>=2.3.1
Keras-Applications>=1.0.8
Keras-Preprocessing>=1.1.0
keras-tuner>=1.0.1
nltk>=3.4.4
numba>=0.49.1
numpy>=1.18.4
oauth2client>=3.0.0
papermill>=2.1.0
pandas>=1.0.4
tornado==6.0.4
pylint>=2.5.2
pymongo>=3.10.1
Werkzeug>=1.0.1
xgboost>=1.1.1
xlrd>=1.2.0
XlsxWriter>=1.2.9
scipy
boto3